<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\Entitlement.Web.Api.exe" arguments="" forwardWindowsAuthToken="false" stdoutLogEnabled="false" hostingModel="outofprocess" stdoutLogFile=".\logs\stdout">
      <environmentVariables />
    </aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: 49DF1EC0-A6D2-402F-BB2A-BF29A26C0675-->