<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\KnowledgeBook.Web.Mvc.exe" arguments="" forwardWindowsAuthToken="false" stdoutLogEnabled="false" hostingModel="outofprocess" stdoutLogFile=".\logs\stdout">
      <environmentVariables />
    </aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: 6DBDFD98-A7F5-4CF5-B43A-8F75C2CA0E18-->