

body{font-family: Verdana, Geneva, sans-serif;}

.center {color:#717171;  position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);}
  
h1{font-size:50px;font-weight: bold;}
p{color:#717171; font-size:20px; padding-top:5px; text-align:justify; line-height:120%;}
.btn {margin-top: 25px;}
.logo img{padding:25px 0px;}