<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\Entitlement.Web.Mvc.exe" arguments="" forwardWindowsAuthToken="false" stdoutLogEnabled="false" hostingModel="outofprocess" stdoutLogFile=".\logs\stdout">
      <environmentVariables />
    </aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: D5EE10DD-47AA-4654-A459-1ACBE64A7CDB-->