@charset "UTF-8";
/* CSS Document */

#topic_footer_content{
 font-size: 12px;
 color: #4b6ca3;
 text-align: left;
 font-family: 'Verdana';
}

header h1{
font-size:30px;
font-weight:500;
font-family: inherit;
}
header
