/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts7
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #008000;
 text-decoration: underline;
}
a.rvts10:hover { color: #0000ff; }
a.rvts11, span.rvts11
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts11:hover { color: #0000ff; }
span.rvts12
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #ffffff;
}
span.rvts13
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #3794fb;
}
span.rvts14
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
}
span.rvts15
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: ;
}
span.rvts16 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts17, span.rvts17 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts18
{
 font-size: 11pt;
 font-family: 'calibri';
}
span.rvts19
{
 font-size: 11pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #3794fb;
}
a.rvts20, span.rvts20
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: none;
}
a.rvts20:hover { color: #0000ff; }
span.rvts21
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
}
span.rvts22
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #cc0000;
}
span.rvts23
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #333333;
}
span.rvts24
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #24292f;
}
a.rvts25, span.rvts25
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 text-decoration: none;
}
a.rvts25:hover { color: #0000ff; }
span.rvts26
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts27
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts28
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #3794fb;
}
span.rvts29
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
}
span.rvts30
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
}
span.rvts31
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #7f7f7f;
}
span.rvts32
{
 font-size: 18pt;
 font-family: 'segoe ui';
 font-weight: bold;
 color: #002856;
}
span.rvts33
{
 font-size: 11pt;
 font-family: 'calibri';
 color: #000000;
}
span.rvts34
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts35
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #c00000;
}
span.rvts36
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts37
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts38
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #ff0000;
}
span.rvts39
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #ff0000;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 margin: 0px 0px 0px 24px;
}
.rvps5
{
 margin: 0px 0px 0px 72px;
}
.rvps6 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps7
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps8
{
 text-align: left;
 text-indent: 0px;
 background: #ffffff;
 padding: 10px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps9
{
 background: #ffffff;
 margin: 7px 0px 7px 0px;
}
.rvps10
{
 text-indent: 48px;
}
.rvps11
{
}
.rvps12
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 10px 0px 10px 0px;
}
.rvps13
{
 background: #ffffff;
}
.rvps14
{
 margin: 0px 0px 0px 48px;
}
.rvps15
{
 margin: 0px 0px 4px 0px;
}
.rvps16
{
 margin: 4px 0px 0px 0px;
}
.rvps17
{
 margin: 0px 0px 6px 0px;
}
.rvps18
{
 margin: 0px 0px 5px 0px;
}
.rvps19
{
 text-align: left;
 text-indent: 0px;
 background: #ffffff;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps20
{
 margin: 0px 0px 6px 24px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: disc;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: circle;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: square;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 60px; list-style-position: outside; list-style-type: disc;}
.list11 {text-indent: 0px; padding: 0; margin: 0 0 0 60px; list-style-position: outside; list-style-type: circle;}
.list12 {text-indent: 0px; padding: 0; margin: 0 0 0 60px; list-style-position: outside; list-style-type: square;}
.list13 {text-indent: 0px; padding: 0; margin: 0 0 0 32px; list-style-position: outside; list-style-type: circle;}
.list14 {text-indent: 0px; padding: 0; margin: 0 0 0 80px; list-style-position: outside; list-style-type: disc;}
.list15 {text-indent: 0px; padding: 0; margin: 0 0 0 80px; list-style-position: outside; list-style-type: circle;}
.list16 {text-indent: 0px; padding: 0; margin: 0 0 0 80px; list-style-position: outside; list-style-type: square;}
.list17 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: decimal;}
.list18 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
