<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\Diagnostics.Web.Mvc.exe" arguments="" forwardWindowsAuthToken="false" stdoutLogEnabled="false" hostingModel="outofprocess" stdoutLogFile=".\logs\stdout">
      <environmentVariables />
    </aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: 0806668D-2167-4DBB-9C11-83E3FDA2BB61-->