<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="PUT,DELETE,POST,GET" />
      </customHeaders>
    </httpProtocol>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Home/Shared/NotFound" responseMode="Redirect" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="http to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="root to home" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/Home" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
