<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\Home.Web.Mvc.exe" arguments="" forwardWindowsAuthToken="false" stdoutLogEnabled="false" hostingModel="outofprocess" stdoutLogFile=".\logs\stdout">
      <environmentVariables />
    </aspNetCore>
  </system.webServer>
</configuration>
<!--ProjectGuid: F8ED0AB3-167C-45BB-ADDB-49AC2344FDE7-->